name: go

on:
  push:

jobs:
  go:
    runs-on: ubuntu-latest
    permissions:
      checks: write         # for EnricoMi/publish-unit-test-result-action@v1
      pull-requests: write  # for EnricoMi/publish-unit-test-result-action@v1
      contents: write       # for softprops/action-gh-release@v1
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: Install Cosign
      uses: sigstore/cosign-installer@main
    # TODO: Replace with https://github.com/sigstore/sigstore-installer/tree/initial
    # once it has the functionality
    - name: Install Rekor
      run: |
        curl -LO https://github.com/sigstore/rekor/releases/download/v0.8.2/rekor-cli-linux-amd64
        sudo install rekor-cli-linux-amd64 /usr/local/bin/rekor-cli
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    - name: Install go-junit-report
      run: go install github.com/jstemmer/go-junit-report@v1.0.0

    # This step has exit_code=1, if any tests fail
    - name: Run Unit Tests
      run: go test -v 2>&1 ./... | go-junit-report -set-exit-code > report.xml
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v3
      if: always() # always run even if unit tests fail
      with:
        report_paths: report.xml

    - name: Build Calculator
      run: go build ./cmd/calculator
    - name: Sign Calculator
      run: |
        set -e
        set -o pipefail
        echo "$COSIGN_PUBLIC_KEY" > .github/cosign.pub
        COSIGN_EXPERIMENTAL=1 cosign sign-blob --key env://COSIGN_PRIVATE_KEY calculator > calculator.sig
        # Verify - As documentation & check
        # Local Signature (input: artifact, key, signature)
        cosign verify-blob --key .github/cosign.pub --signature calculator.sig calculator
        # Transparency Log Signature (input: artifact, key)
        uuid=$(rekor-cli search --artifact calculator | tail -n 1)
        sig=$(rekor-cli get --uuid=$uuid --format=json | jq -r .Body.HashedRekordObj.signature.content)
        cosign verify-blob --key .github/cosign.pub --signature <(echo $sig) calculator
      shell: bash
      env:
        COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        draft: true
        files: |
          calculator
          calculator.sig
          .github/cosign.pub
